@import "@planview/ui/globals.css";

html,
body {
  touch-action: manipulation;
}

@layer components {
  .plan-list-item {
    content-visibility: auto;
    contain-intrinsic-size: auto 4.5rem;
  }
}
